---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Media">
  <div class="page-header">
    <h1>Media</h1>
    <p class="page-subtitle">Interviews, podcasts, and speaking engagements</p>
  </div>

  <h2>Featured Media</h2>

  <div class="media-logo-grid">
    <a href="https://slate.com/news-and-politics/2025/04/trump-doge-neh-funding-grants-canceled-fellowships.html" class="media-logo-item">
      <img src="/images/slate-logo.svg" alt="Slate logo" />
      <span>"Trump's Latest Cuts Will Hit Small-Town Culture Hard"</span>
    </a>
    <a href="https://dukeupress.wordpress.com/2020/08/11/putting-the-humanities-phd-to-work-anastasia-karklina-in-conversation-with-katina-l-rogers/" class="media-logo-item">
      <img src="/images/duke-up-logo.webp" alt="Duke University Press logo" />
      <span>Anastasia Kārkliņa in Conversation with Katina L. Rogers</span>
    </a>
    <a href="https://www.insidehighered.com/news/2020/07/08/author-discusses-her-book-jobs-humanities-phds" class="media-logo-item">
      <img src="/images/inside-higher-ed-logo.webp" alt="Inside Higher Ed logo" />
      <span>Q&amp;A with Scott Jaschik</span>
    </a>
    <a href="https://www.youtube.com/watch?v=unFDQ3xmZ3o&feature=youtu.be" class="media-logo-item">
      <img src="/images/edcast-logo.webp" alt="EdCast logo: Educators on Education with Dr. Linda Hirsch" />
      <span>The Importance of Humanities Teaching</span>
    </a>
    <a href="https://www.nytimes.com/2013/11/03/education/edlife/finding-life-after-academia-and-not-feeling-bad-about-it.html" class="media-logo-item">
      <img src="/images/nytimes-logo.webp" alt="New York Times logo" />
      <span>"The Repurposed PhD" by Rebecca Tuhus-Dubrow</span>
    </a>
    <a href="https://www.gc.cuny.edu/News/All-News/Detail?id=55416" class="media-logo-item">
      <img src="/images/gc-cuny-logo.webp" alt="Graduate Center, CUNY logo" />
      <span>Why the World Needs Humanities PhDs Right Now</span>
    </a>
    <a href="https://newbooksnetwork.com/putting-the-humanities-phd-to-work" class="media-logo-item">
      <img src="/images/new-books-network-logo.webp" alt="New Books Network logo" />
      <span>Conversation with Amanda Jeanne Swain</span>
    </a>
    <a href="https://blogs.lse.ac.uk/lsereviewofbooks/2021/01/15/book-review-putting-the-humanities-phd-to-work-thriving-in-and-beyond-the-classroom-by-katina-l-rogers/" class="media-logo-item">
      <img src="/images/lse-logo.webp" alt="LSE in white letters on a red background" />
      <span>Book review by Kristen Vogt Veggeberg</span>
    </a>
    <a href="https://www.chronicle.com/article/in-search-of-hard-data-on-nonacademic-careers/" class="media-logo-item">
      <img src="/images/chronicle-logo.webp" alt="Chronicle of Higher Education logo" />
      <span>"In Search of Hard Data on Nonacademic Careers" by Leonard Cassuto</span>
    </a>
  </div>

  <h2>Podcast Appearances</h2>

  <ul class="media-list">
    <li><a href="https://newbooksnetwork.com/putting-the-humanities-phd-to-work">New Books Network</a> with Amanda Jeanne Swain</li>
    <li><a href="https://anchor.fm/syrgradcast/episodes/Humanities-Views---Katina-Rogers--PhD--Scholarship-for-the-Public-Good-es0rck">GradCast</a> with Daniel Olson-Bang</li>
    <li><a href="https://gradschooled.libsyn.com/thriving-in-your-career-pathway-with-katina-rogers">GradSchooled</a> with Fatima Williams</li>
    <li><a href="https://papaphd.com/finding-your-place-professionally-as-a-humanities-phd-with-katina-rogers/">Papa PhD</a> with David Mendes</li>
    <li><a href="https://newamericanbaccalaureate.org/nab-podcast-katina-rogers-on-the-future-of-graduate-humanities-education/">New American Baccalaureate</a> with Eli Kramer and James Anderson</li>
    <li><a href="https://t.co/S72iVa0aPI">Vitamin PhD</a> (Boston University) with Sasha Goldman</li>
    <li><a href="https://lnns.co/DTvM40yuV_q">PostDoctoral</a> with Rebbecca Kaplan (<a href="https://lnns.co/XZbTf8UsCow">episode 2</a>)</li>
    <li><a href="https://rocking-the-academy.simplecast.com/episodes/season-2-6-katina-rogers-futures-initiative-cuny-grad-center">Rocking the Academy</a> with Roopika Risam and Mary Churchill</li>
    <li><a href="https://www.gc.cuny.edu/News/All-News/Detail?id=53817">The Thought Project</a> (episode 77) with Tanya Domi</li>
  </ul>

  <h2>Speaking Engagements</h2>

  <p>Many of my talks and workshops are publicly available via <a href="https://www.youtube.com/playlist?list=PL6uf4Dnz7dfpav3sQ_F7NAzbpI9Yhxgga">this playlist</a>.</p>

  <a href="https://www.youtube.com/playlist?list=PL6uf4Dnz7dfpav3sQ_F7NAzbpI9Yhxgga" class="speaking-thumbnail">
    <img src="/images/speaking-thumbnail.jpg" alt="Katina Rogers speaking engagement" />
  </a>
</BaseLayout>
